<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% include "libraries.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>

<body>
    {% include "menu.html"%}
    <h1>Dashboard</h1>
    <h2>Logged in as <i>{{ current_user.username }}</i></h2>
    <h3>Todo List</h3>
    {% include "edit_modal.html" %}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">
                    <h1>{{todo.title}}</h1>
                </th>
                <td>{{todo.description}}</td>
                <td>
                    <button class="btn btn-primary bi bi-pencil-fill" onclick="openEditModal({{ todo.id }}, '{{ todo.title }}', '{{ todo.description }}')"></button>
                    <a class="btn btn-danger bi bi-trash-fill" href="/remove?id={{todo.id}}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="todo-add">
        <form action="/add" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
            <input type="submit" value="Add">
        </form>
    </div>

    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>

</body>

</html>