<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% include "libraries.html" %}
</head>

<body>
    {% include "menu.html"%}
    <h1>Dashboard</h1>
    <h2>Logged in as <i>{{ current_user.username }}</i></h2>
    <h3>Todo List</h3>
    <ul>
        {% for todo in todos %}
        <li><b>{{todo.title}}</b><a class="btn btn-danger" href="/remove?id={{todo.id}}">x</a></li>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <label for="todo">Add Todo</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Add">
    </form>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</body>

</html>