{% block edit_modal %}
<!-- Edit Model for Todo Bootstrap -->
<div class="modal" id="edit-todo-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Make a form in bootstrap that takes a title and a description-->
                <form action="/edit" method="post" id="edit-todo-form">
                    <input type="hidden" name="id" id="id">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description">
                    <button class="btn btn-primary" type="submit" id="edit-todo-submit">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}